.mainContent {
  width: 300px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
}
.winning-message {
  display: flex; 
  position: absolute;
  flex-direction: column;  
  left: 0;
  top: 20vh;
  bottom: 0;
  right: 0;
  overflow: none;
}

.winning-content{
  background-color: #282c34;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  min-width: 30%;
  min-height: 89%;
  box-shadow: 0 4px 6px 0 whitesmoke;  
  font-size: 3rem;
  color: white;
}
.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}
