.mainContent {
  width: 300px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
}

.content-cell {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100px;
}
.x,
.o {
  cursor: default;
}

.x::after {
  content: '×';
  font-size: 200px;
}

.o::after {
  content: '○';
  color: #F2EBD3;
  font-size: 225px;
}
